html {
  font-size: 20px;
}
body {
  margin: 0;
  position: relative;
}
.start {
  position: absolute;
  width: 100vw;
  height: 100vh;
  background: radial-gradient(circle, rgb(168 2 2 / 30%) 0%, rgb(156 17 17 / 30%) 53%, rgb(126 7 7 / 30%) 100%);
  z-index: 2;
  transition: 2s;
}
.start-end {
  margin-top: 40%;
  position: absolute;
  width: 100vw;
  height: 0;
  border: solid white 2px;
  background: radial-gradient(circle, rgb(168 2 2 / 30%) 0%, rgb(156 17 17 / 30%) 53%, rgb(126 7 7 / 30%) 100%);
  z-index: 2;
  transition: 1s;
}
.start h1 {
  width: 40%;
  text-align: center;
  margin: 20% auto 5% auto;
  font-size: 4rem;
  text-shadow: 0px 1px 17px #ff9b9b3d;
  color: #240202;
  text-transform: uppercase;
}
.start button {
  width: 20%;
  margin-left: 40%;
  position: relative;
  display: inline-block;
  font-family: Arial,Helvetica,FreeSans,"Liberation Sans","Nimbus Sans L",sans-serif;
  font-size: 1.5rem;
  font-weight: 700;
  color: rgb(245,245,245);
  text-shadow: 0 -1px rgba(0,0,0,.1);
  text-decoration: none;
  user-select: none;
  padding: .3em 1em;
  outline: none;
  border: none;
  border-radius: 3px;
  background: #9c0c0c linear-gradient(#d18282, #9c0c0c);
  box-shadow: inset #de2626 0 -1px 1px, inset 0 1px 1px #ff9898, 
            #aa3c3c 0 0 0 1px, rgba(0,0,0,.3) 0 2px 5px;
  -webkit-animation: pulsate 1.2s linear infinite;
  animation: pulsate 1.2s linear infinite;
}
.start button:hover {
  -webkit-animation-play-state: paused;
  animation-play-state: paused;
  cursor: pointer;
}
.start button:active {
  top: 1px;
  color: #fff;
  text-shadow: 0 -1px rgba(0,0,0,.3), 0 0 5px #ffd, 0 0 8px #fff;
  box-shadow: 0 -1px 3px rgba(0,0,0,.3), 0 1px 1px #fff, inset 0 1px 2px rgba(0,0,0,.8), inset 0 -1px 0 rgba(0,0,0,.05);
}
@-webkit-keyframes pulsate {
  50% {color: #fff; text-shadow: 0 -1px rgba(0,0,0,.3), 0 0 5px #ffd, 0 0 8px #fff;}
}
@keyframes pulsate {
  50% {color: #fff; text-shadow: 0 -1px rgba(0,0,0,.3), 0 0 5px #ffd, 0 0 8px #fff;}
}
.canvas-under {
  background: #222222;
}
.canvas-over {
  background: #22222200;
  position: absolute;
  left: 0;
  top: 0;
}
#game {
  position: absolute;
  left: 0;
  top: 0;
}
